body {
    height: 100vh;
    background: #252A34;
    font-family: 'Rubik Moonrocks';
    display: flex;
    justify-content: center;
    align-items: center;
    color: #EAEAEA;
    overflow-y: hidden;
}

.main-container {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 100px;
}

#container {
    border: 1px #EAEAEA solid;
}

.wrong-key {
    display: none;
    color: #FF2E63;
}

#texts h3 {
    font-size: 50px;
}

#texts{
    text-align: center;
}