body{
    background-color: yellowgreen;
}
.container{
    padding-top: 5em;
    display: flex;
    align-items: center;
    background-color: white;
    width: 300px;
    height: 400px;
    margin: auto auto;
    border-radius: 2em;
    text-align: center;
    text-transform: capitalize;
}
