body {
    background-color: #1A1A40;
}

.slider{
    display: flex;
    margin: 50px auto;  
}

.pic{
    position: relative;
    z-index: 1;
    height: 500px;
    width: 100%;
    margin: auto auto;
}

.bi{
    position: absolute;
    z-index: 2;
}

.bi:hover{
    width: 5%;
    transition: 1s;
}

.bi-chevron-bar-right{
    right: 0px;
    bottom: 325px;
}

.bi-chevron-bar-left{
    left: 0px;
    bottom: 325px;
}

.first{
    flex:3;
    background-color: #FA58B6;
}
.second{
    flex:3;
    background-color: #7A0BC0;
}
.third{
    flex:3;
    background-color: #270082;
}