main{
    text-align: center;
    margin: auto 15em;
}
.getters{
    display: flex;
    justify-content: space-between;
}
.inputs{
    width: 100%;
}
input{
    margin: 1em;
    width: 20%;
    height: 2em;
}
button{
    margin: 1em;
    padding: .5em 2em;
}
table{
    margin: auto auto;
    width: 100%;
}
th,td{
    border: 1px solid black;
}
.information{
    display: flex;
    text-align: center;
    justify-content: space-between;
    flex-direction: row;
}
.removers{
    display: flex;
    justify-content: space-between;
}
.remove{
    width: 80%;
}